body {
    background-color: #feca1b;
}
header
{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 20px;
}
.buttons {
    display: flex;
    justify-content: center;
}

#button-one,
#button-two
{
    background-color: #3761a8;
    color: white;
    margin: 3px;
}

.card-container {
    display: flex;
/*    flex-wrap: wrap;*/
/*    justify-content: space-around;*/
/*    !*width: 100vw;*!*/
/*    !*background-color: white;*!*/

}

.single-card {
background-color: white;


}



/*@media screen and (min-width: 1400px) {*/
/*    body {*/
/*        background-color: hotpink;*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/
/*    .card-container{*/
/*        width: 1400px;*/
/*    }*/
/*}*/

